<html>

<head>
    <title>Socket.IO chat</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid border" id='chat_box'>
        <div class="row ">
            <div class="col-md-12 border-bottom" style="text-align: center;">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-3"> </div>

            <div class="col-md-6" style="text-align: center;">
                <form id='loginform' >
                    <div class="form-group">
                        <label for="user">Username:</label>
                        <input type="text" class="form-control" placeholder="Enter username" id="user">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password:</label>
                        <input type="password" class="form-control" placeholder="Enter password" id="pass">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                If you are not the User...<a href="./register.html">Register</a>
            </div>
            <div class="col-md-3"> </div>
        </div>
    </div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>



    $(function () {

        var socket = io();

        $('#loginform').submit(function () {
            
            socket.emit('SetUser', { 'username': $('#user').val(), 'password': $('#pass').val() }); //call the function in index.js with msg  
        });

        socket.on('userExistsOrNot',function(result){
            if(result.length!=0){
                window.location.href='/home.html';
                return true;
            }else{
                alert('Username or Password are wrong!')
                return false;
            }
        })


    });




</script>

</html>